.banner-image {
  /* background-image: url(img/gambar/gambar1.jpg); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/hotel/hotel1.jpg);
  background-size: cover;
  padding-left: 100px;
  padding-top: 200px;
  position: relative;
}

.judul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */
  background: -webkit-linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tulisan {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  font-size: 18px;
  color: white;
  display: flex;
  padding-left: 100px;
  padding-top: 300px;
}
