.container {
    color:#ECECEC;
}

.logo {
    position: absolute;
    width: 183.11px;
    height: 95px;
    left: 215px;
    top: 291px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.judul {
    position: absolute;
    width: 329px;
    height: 31px;
    left: 80px;
    top: 399px;
    
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    
    color: #EEA654;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.judul1 {
    position: absolute;
    width: 329px;
    height: 31px;
    left: 125px;
    top: 0px;
    
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
 
    color: #67C010;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.judul2 {
    position: absolute;
    width: 422px;
    height: 29px;
    left: 87px;
    top: 680px;
    
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #ffffff;
}


.gambar {
    position: absolute;
    width: 597px;
    height: 718.8px;
    left: 0px;
    top: 1px;
    opacity: 100%;
}

.masukakun {
    position: absolute;
    width: 220px;
    height: 40px;
    left: 832px;
    top: 119px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.logoemail {
    position: absolute;
    left: 24px;
    top: 17px;
}

.logopassword {
    position: absolute;
    left: 26px;
    top: 17px;
}


.email {
    position: absolute;
    width: 367px;
    height: 55px;
    left: 759px;
    top: 204px;
    
    background: #ECECEC;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.email2 {
    position: absolute;
    width: 267px;
    height: 20px;
    left: 55px;
    top: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.password {
    position: absolute;
    width: 367px;
    height: 55px;
    left: 759px;
    top: 287px;
    background: #ECECEC;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.password2 {
    position: absolute;
    width: 267px;
    height: 30px;
    left: 55px;
    top: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    background: #ECECEC;
    color: rgba(0, 0, 0, 0.5);
}

.masuk {
    position: absolute;
    width: 157px;
    height: 55px;
    left: 874px;
    top: 426px;
    
    background: #391E00;
    border-radius: 40px;
}

.masuk2 {
    position: absolute;
    color: #ffffff;
    width: 68px;
    height: 30px;
    left: 40px;
    top: 12.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    
}

.masuk:hover{
    position: absolute;
    width: 157px;
    height: 55px;
    left: 874px;
    top: 426px;
    background: #EEA654;
    border-radius: 40px;
}

.lupapassword {
    position: absolute;
    width: 145px;
    height: 27px;
    left: 975px;
    top: 360px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
}

.ataumasuk {
    position: absolute;
    width: 153px;
    height: 23px;
    left: 878px;
    top: 523px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.7);
}

.google {
    position: absolute;
    width: 26px;
    height: 25.5px;
    left: 903px;
    top: 568px;
}

.facebook {
    position: absolute;
    width: 33px;
    height: 32px;
    left: 937px;
    top: 565px;
}

.twitter {
    position: absolute;
    width: 33px;
    height: 33.3px;
    left: 976px;
    top: 564.5px;
}

.belumpunya {
    position: absolute;
    width: 155px;
    height: 17px;
    left: 855px;
    top: 665px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: rgba(0, 0, 0, 0.7);
}

.daftarlogin {
    position: absolute;
    left: 1010px;
    top: 665px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: #1400FF;

}